
[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/qtpoweroff/images/32x32.png
Name=QtPowerOff
Comment=The program for the planned shutdown of computer
Exec=qtpoweroff
Terminal=false
Type=Application
Categories=Utility;Qt;
StartupNotify=false

Comment[ru]=Программа запланированного выключения компьютера
Name[ru]=Выключалка
