[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/htmltotextgui/icon48.png
Name=Html To Text
Comment=Converts ebook-files from HTML to TXT format
Exec=htmltotextgui
Terminal=false
Type=Application
Categories=Application;Utility;
StartupNotify=false

Name[ru]= HTML->TXT Конвертер 
Comment[ru]=Конвертирует книги из формата HTML в TXT
