[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/ssdisabler/icons/icon.png
Name=SSDisabler
Comment=Disable and enable xdg-screenshot from systray
Exec=ssdisabler
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
